include LICENSE.txt
include README.txt
include byte\Actor.py
include byte\Board.py
include byte\data.py
include byte\game.py
include byte\net_code.py
include byte\Player.py
include byte\utilities.py
include byte\Zombie.py
include byte\_tester.py
include byte\__init__.py
include byte\__main__.py
include byte\logs\last_run.log
include byte\settings\settings.py
include byte\settings\__init__.py
include pyweek_upload.py
include run_game.py
include setup.py
